*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cereal-bold";
  src: url(assets/fonts/AirbnbCereal-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Cereal-book";
  src: url(assets/fonts/AirbnbCereal-Book.ttf) format("truetype");
}
body {
  background-color: #1b1b1b;
}

a {
  color: white;
  font-family: "Cereal-book";
  text-decoration: none;
}

p {
  font-family: "Cereal-book";
  color: #d7d7d7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #1b1b1b;
  z-index: 1;
}
header .socials {
  margin: 0.75em;
  font-size: 1.5rem;
  transition: all 0.3s;
}
header .socials:hover {
  transform: scale(1.5);
}
header .socials-container {
  margin-right: 5%;
}
header .email {
  transition: all 0.3s;
  margin-left: 5%;
}
header .email i {
  margin-right: 0.75em;
}
header .email:hover {
  transform: scale(1.2);
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 0 6em 4em;
}
.hero .hero__text-wrapper {
  display: inherit;
  flex-flow: column wrap;
  justify-content: center;
  padding: 2.5em;
  width: 55%;
}
.hero .hero__text-wrapper .hero__text {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #55ffb2, #53bdff);
}
.hero .hero__text-wrapper h1 {
  font-family: "Cereal-bold";
  font-size: 3.5vw;
  margin-bottom: 1em;
  letter-spacing: 1.25px;
}
.hero .hero__text-wrapper p {
  font-size: 2.5vw;
}
.hero .hero__graphic {
  width: 45%;
}
.hero .hero__graphic #lottie {
  width: 100%;
  height: auto;
  animation: bounce-slow 3s infinite;
}

.about__text {
  margin: 0 7em 1em;
  font-size: max(1.6vw, 1rem);
}
.about__text:last-of-type {
  margin-bottom: 4em;
}

@media screen and (max-width: 715px) {
  .about__text {
    margin: 0 4em 1em;
  }
}
.skillset > h3 {
  text-align: center;
  font-family: "Cereal-bold";
  font-size: max(1.5vw, 1rem);
  margin-bottom: 1.5em;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 3em 3em;
}

.skill {
  margin: 1em;
  font-family: "Cereal-book";
  color: #d7d7d7;
  font-size: 1.1rem;
  transition: all 0.2s ease-out;
}
.skill:hover {
  transform: scale(1.2);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

hr {
  border: 1px solid #414141;
  width: 75%;
  margin: 0 auto 4em;
}

.projects__subheading {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__subheading h3 {
  text-align: center;
  font-family: "Cereal-bold";
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  margin-bottom: 1.5em;
}
.projects__subheading i {
  animation-duration: 0.3s;
  animation: bounce 2s infinite;
  font-size: 1.75em;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-slow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.project {
  display: flex;
  margin: 3em auto;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6), -2px -2px 6px rgba(255, 255, 255, 0.2);
  width: 80vw;
}
.project h5, .project h6 {
  color: white;
  font-family: "Cereal-bold";
}

.project__graphic {
  margin-right: 1em;
  padding: 1em;
}

.project__text {
  padding: 1em;
  padding-left: 0;
}

/*# sourceMappingURL=styles.css.map */
